header{
    width: 100%;

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-icons{
            display: flex;
            gap: 1rem;

            @keyframes translateY {
                from{
                    transform: translateY(0) scale(1);
                }
                to{
                    transform: translateY(-8px) scale(1.1);
                }
            }

            a:hover{
                i{
                    color: $red-light;
                    animation: translateY 0.8s;
                }
            }

            i{
                color: $white;
            }
        }

        .nav-button{
            border: 1px solid $white;
            padding: 8px 24px;
            border-radius: 4px;
            color: $white;
            background-color: transparent;
            transition: background-color 0.3s;

            &:hover{
                border: 1px solid $red-light;
                background-color: $red-light;
            }
        }

        .nav-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 768px){
    nav{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 1rem;
            font-size: 2rem;
        }

        .nav-button{
            display: none;
        }

        .nav-logo img{
            width: 160px;
            margin-top: 2rem;
        }
    }

}